<table class="table">
  <thead>
    <tr>
      <th scope="col">User agent</th>
      <th scope="col">IP address</th>
      <th scope="col">Active since</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>

    <% sessions.each do |session| %>
      <tr class="<%= session.id == current_session.id ? 'table-active' : '' %>">
        <td>
          <%= session.user_agent %>
          <% if session.id == current_session.id %>
            <span class="badge bg-success">Current</span>
          <% end %>
        </td>
        <td><%= session.ip_address %></td>
        <td><%= session.created_at %></td>
        <td><%= button_to "Log out", session, method: :delete, class: 'btn btn-sm link-warning' %></td>
      </tr>
    <% end %>

  </tbody>
</table>
