<%# locals: (storage:) -%>

<% if storage.bucket_exists? %>
  <div>Storage url <span class="font-monospace bg-body-tertiary"><%= storage.url %></span></div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">File</th>
        <th scope="col">Size</th>
        <th scope="col">Modified at</th>
      </tr>
    </thead>

    <tbody>

      <% storage.ls.each do |fo| %>
        <tr>
          <td><%= link_to(fo.key, fo.url) %></td>
          <td><%= number_to_human_size(fo.size) %></td>
          <td><%= fo.last_modified_at %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% else %>
  <div class="text-danger">Storage bucket '<%= storage.bucket %>' does not exists.</div>
<% end %>
