<%# locals: (repository:) -%>

<%= turbo_stream_from [repository, :show] %>

<div id="<%= dom_id(repository) %>">

  <h5>Repository for <%= repository.distro.name %> of <%= repository.project.name %> project</h5>

  <div class="container pt-3">
    <div class="pb-3">
      <%= render partial: 'repositories/publishing_status', locals: { repository: repository } %>
    </div>

    <% if repository.last_publish_error %>
      <div class="pb-3">
        <h6 class="text-danger">
          Last publish error
          <small class="text-body-secondary">updated <%= time_ago_in_words(repository.updated_at) %> ago</small>
        </h6>
        <pre class="pre-line-wrap"><%= repository.last_publish_error %></pre>
      </div>
    <% end %>

    <div class="pt-3">
      <%= render partial: 'repositories/files', locals: { storage: repository.storage } %>
    </div>

    <div class="pt-3">
      <h6>GPG key</h6>
      <div class="bg-body-tertiary p-2 rounded-2">
        <pre><%= repository.gpg_key.public_info.strip %></pre>
      </div>
      <% if repository.with_own_gpg_key? %>
        <%= link_to 'Manage', repository_index_gpg_key_path(repository), class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1' %>
      <% else %>
        <div class="text-secondary">The respository doesn't have its own GPG key and uses key from your account</div>
        <%= link_to "Create repository-specific key", repository_index_gpg_key_path(repository), class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1' %>
        <%= link_to "Manage account's GPG key", index_gpg_key_path, class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1' %>
      <% end %>
    </div>

    <div class="pt-5" data-controller="clipboard">
      <strong>Package installation steps</strong>
      <div class="bg-body-tertiary p-2 rounded-2">
        <pre data-clipboard-target="source"><%= repository.installable_cli %></pre>
      </div>

      <div class="btn-group" role="group" aria-label="installation step manage">
        <button data-action="clipboard#copy" class="btn btn-link btn-sm"><i class="bi bi-copy me-1"></i>Copy to clipboard</button>
      </div>
    </div>

    <div class="pt-3">
      <%= link_to 'Back to project', project_path(repository.project), class: 'btn btn-link' %>
    </div>
  </div>
</div>
