<h5>Edit repository for <%= @repository.distro.name %> of <%= link_to @repository.project.name, project_path(@repository.project) %></h5>

<div class="container pt-3">

  <div class="card p-3 shadow mb-3 bg-body-tertiary rounded mx-auto">
    <div class="card-body" data-controller="repository-form">
      <%= form_with(model: @repository) do |f| %>

        <div class="mb-3">
          <%= f.label :custom_storage, class: 'form-label' %>
          <%= f.check_box :custom_storage,
                value:  @repository.custom_storage,
                class:  "form-check-input #{@repository.errors.include?(:custom_storage) ? 'is-invalid' : ''}",
                aria:   { describedby:  'validation-error-custom_storage custom_storage-help' },
                data:   { 'repository-form-target' => 'enablecheckbox', 'action' => 'repository-form#setCollapse' }
          %>
          <div id="custom_storage-help" class="form-text">
            Use your custom storage provider and bucket for this repository (i.e. s3). Uncheck to use the default built-in.
          </div>
        </div>


        <div id="collapseCustomStorage" data-repository-form-target="collapseblock" class="collapse">
          <div class="mb-3">
            <%= f.label :endpoint, class: 'form-label' %>
            <div id="endpoint-help" class="form-text">
              Leave blank to use built-in storage. Set to your custom storage provider (eg. https://s3.us-east-2.amazonaws.com) to use it instead of built-in. When doing so you must also provide secret and access keys.
            </div>
            <%= f.text_field :endpoint,
                  value:  @repository.endpoint,
                  class:  "form-control #{@repository.errors.include?(:endpoint) ? 'is-invalid' : ''}",
                  aria:   { describedby:  'validation-error-endpoint endpoint-help' },
                  placeholder: ''
            %>
            <div id="validation-error-endpoint" class="invalid-feedback d-block">
              <%= @repository.errors.messages_for(:endpoint).to_sentence %>
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :region, class: 'form-label' %>
            <%= f.text_field :region,
                  value:  @repository.region,
                  class:  "form-control #{@repository.errors.include?(:region) ? 'is-invalid' : ''}",
                  aria:   { describedby:  'validation-error-region region-help' },
                  placeholder: ''
            %>
            <div id="validation-error-region" class="invalid-feedback d-block">
              <%= @repository.errors.messages_for(:region).to_sentence %>
            </div>
          </div>

          <div class="mb-3">
            <%= f.label 'Access key ID', class: 'form-label' %>
            <%= f.text_field :access_key_id,
                  value:  @repository.access_key_id,
                  class:  "form-control #{@repository.errors.include?(:access_key_id) ? 'is-invalid' : ''}",
                  aria:   { describedby:  'validation-error-access_key_id access_key_id-help' },
                  placeholder: ''
            %>
            <div id="validation-error-access_key_id" class="invalid-feedback d-block">
              <%= @repository.errors.messages_for(:access_key_id).to_sentence %>
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :secret_access_key, class: 'form-label' %>
            <%= f.password_field :secret_access_key,
                  value:  @repository.secret_access_key,
                  class:  "form-control #{@repository.errors.include?(:secret_access_key) ? 'is-invalid' : ''}",
                  aria:   { describedby:  'validation-error-secret_access_key secret_access_key-help' },
                  placeholder: ''
            %>
            <div id="validation-error-secret_access_key" class="invalid-feedback d-block">
              <%= @repository.errors.messages_for(:secret_access_key).to_sentence %>
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :bucket, class: 'form-label' %>
            <div id="bucket-help" class="form-text">
              Bucket name. Must be unique across all buckets when using built-in storage.
            </div>
            <%= f.text_field :bucket,
                  value:  @repository.bucket,
                  class:  "form-control #{@repository.errors.include?(:bucket) ? 'is-invalid' : ''}",
                  aria:   { describedby:  'validation-error-bucket bucket-help' },
                  placeholder: ''
            %>
            <div id="validation-error-bucket" class="invalid-feedback d-block">
              <%= @repository.errors.messages_for(:bucket).to_sentence %>
            </div>
          </div>
        </div>


        <%= f.submit 'Save', class: 'btn btn-primary mt-2' %>
      </div>
    </div>
  <% end %>
</div>
