<h1>Repository for <%= @repository.distro.name %></h1>

<p>
  <span class="font-monospace"><%= @repository.url %></span>
</p>

<p>
  <strong>GPG public key fingerprint</strong>
  <pre class="pre-line-wrap"><%= @repository.gpg_public_key_info %></pre>
</p>

<p>
  <% if @repository.bucket_exists? %>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">File</th>
          <th scope="col">Size</th>
          <th scope="col">Modified at</th>
        </tr>
      </thead>

      <tbody>

        <% @repository.ls.each do |fo| %>
          <tr>
            <td><%= fo.key %></td>
            <td><%= number_to_human_size(fo.size) %></td>
            <td><%= fo.last_modified_at %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  <% else %>
    <p>
      <span>Storage bucket does not exists. Create it?</span>
    </p>
  <% end %>
</p>

<br>
<p>
  <%= link_to 'Back to repositories list', repositories_path, class: 'btn btn-link' %>
</p>
