<%= turbo_stream_from [@repository, :show] %>

<div id="<%= dom_id(@repository, :show) %>">

  <h5>
    Repository for <%= @repository.distro.name %>
    <small class="text-body-secondary">
      <%= link_to @repository.project.name, project_path(@repository.project) %> project
    </small>
  </h5>

  <div class="container pt-3">
    <div class="pb-3">
      <%= render partial: 'repositories/publishing_status', locals: { repository: @repository } %>
    </div>

    <% if @repository.last_publish_error %>
      <div class="pb-3">
        <h6 class="text-danger">
          Last publish error
          <small class="text-body-secondary">updated <%= time_ago_in_words(@repository.updated_at) %> ago</small>
        </h6>
        <pre class="pre-line-wrap"><%= @repository.last_publish_error %></pre>
      </div>
    <% end %>

    <div class="pt-3">
      <%= render partial: 'repositories/files', locals: { storage: @repository.storage } %>
    </div>

    <div class="pt-3">
      <h6>GPG key</h6>
      <%= render partial: 'repositories/gpg_key', locals: { repository: @repository } %>
    </div>
  </div>
</div>
