<h5>Reset your password</h5>

<div class="container pt-3">

  <div style="width: 300px">
    <%= form_with(url: identity_password_reset_path, method: :patch) do |form| %>
      <%= form.hidden_field :sid, value: params[:sid] %>

      <div class="mb-3">
        <%= form.label :password, "New password", class: "form-label" %>
        <%= form.password_field :password, required: true, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        <div><%= ::User::PASSWORD_MIN_LENGTH %> characters minimum.</div>
      </div>

      <div class="mb-3">
        <%= form.label :password_confirmation, "Confirm new password", class: "form-label" %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div>
        <%= form.submit "Save changes", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

</div>
