<%# locals: (task:) -%>

<%= task.state.humanize %>
<% if !task.pending_fetch? && !task.pending_build? && task.agent && task.agent.user && current_user == task.agent.user %>
  <span>on <%= link_to task.agent.name, agent_path(task.agent), class: 'link-secondary' %></span>
<% end %>
<% if task.failed? %>
  <span> in </span>
  <% task.artefacts.failed.each_with_index do |a, index| %>
    <a class="link-secondary" href="#artefacts-<%= dom_friendly(a.distro) %>"><%= a.distro_object.name %></a>
  <% end %>
<% end %>
<%= time_ago_in_words(task.updated_at) %> ago
