<%# locals: (task:, highlight: false) -%>

<li class="list-group-item <%= highlight ? 'highlight-animate-added-item' : '' %>" id="<%= dom_id(task) %>">
  <span>
    <%= render partial: 'tasks/state_icon', locals: { task: task } %>
    <%= link_to task.state, task_path(task.id) %>
    <% if task.errors? %>
      <small class="text-danger">with errors</small>
    <% end %>
  </span>

  <span class="text-secondary">
    <% case task.state %>
    <% when 'running' %>
      last update <%= time_ago_in_words(task.updated_at) %> ago
    <% when 'scheduled' %>
      <%= time_ago_in_words(task.created_at) %> ago
    <% else 'finished' %>
      <%= time_ago_in_words(task.updated_at) %> ago
    <% end %>
  </span>

  <span class="float-end">
    <%= link_to task.project.name, project_path(task.project.id), class: 'link link-secondary pe-3' %>

    <% task.distros.map(&:family).uniq.each do |df| %>
      <%= render partial: 'layouts/distro_icon', locals: { family: df, size: 16 } %>
    <% end %>
  </span>

</li>
