<h5>CI tasks</h5>

<div class="container pt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">State</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
        <th scope="col">Project</th>
        <th scope="col">Distros</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>

      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.state %><%= task.errors? ? ' with errors' : '' %></td>
          <td><%= time_ago_in_words(task.created_at) %></td>
          <td><%= time_ago_in_words(task.updated_at) %></td>
          <td><%= link_to task.project.name, project_path(task.project.id) %></td>
          <td>
            <% task.distros.map(&:family).uniq.each do |df| %>
              <%= render partial: 'layouts/distro_icon', locals: { family: df, size: 16 } %>
            <% end %>
          </td>
          <td><%= link_to 'more', task_path(task.id) %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <div>
    <%= render partial: 'layouts/pagination', locals: { pagination: @pagination } %>
  </div>

</div>
