<%= turbo_stream_from [@log, :text] %>
<%= turbo_stream_from [@log.task, :state_icon] %>

<div>
  <h5>
    Log for task <%= link_to "##{@log.task.id}", task_path(@log.task) %>
    <small class="text-body-secondary">
      <span id="<%= dom_id(@log.task, :state_icon) %>">
        <%= render partial: 'tasks/state_icon', locals: { task: @log.task } %>
      </span>
    </small>
  </h5>

  <div class="container pt-1">
    <div class="pt-1 pb-2">
      <%= link_to 'Raw text', log_task_path(@log.task, format: :text) %>
    </div>

    <div>
      <pre id="<%= dom_id(@log, :text) %>"><%= @log.text %></pre>
    </div>
  </div>

</div>
