<%- task = @task %>

<%= turbo_stream_from [task, :show] %>

<div id="<%= dom_id(task) %>">

  <h5>
    CI task #<%= task.id %>
    <small class="text-body-secondary">
      created <%= time_ago_in_words(task.created_at) %> ago for
      <%= link_to task.project.name, project_path(task.project), class: 'link-secondary' %>
      project
    </small>
  </h5>

  <div class="pb-3 text-secondary">
    <%= render partial: 'tasks/state_icon', locals: { task: task } %>
    <%= task.state.humanize %>
    <% if !task.pending_fetch? && !task.pending_build? && task.agent && current_user == task.agent.user %>
      <span>on <%= link_to task.agent.name, agent_path(task.agent), class: 'link-secondary' %></span>
    <% end %>
    <% if task.failed? %>
      <span> in </span>
      <% task.artefacts.failed.each_with_index do |a, index| %>
        <a class="link-secondary" href="#artefacts-<%= dom_friendly(a.distro) %>"><%= a.distro_object.name %></a>
      <% end %>
    <% end %>
    <%= time_ago_in_words(task.updated_at) %> ago
  </div>

  <div class="container pt-1">

    <div class="pt-1 pb-3">
      <h6>Distros</h6>
      <%= task.distros.map(&:name).join(', ') %>
    </div>

    <div class="pb-3">
      <%= link_to 'Log', log_task_path(task) %>
    </div>

    <% if task.artefacts.any? %>
      <h6>Artefacts</h6>
    <% elsif task.pending_fetch? || task.pending_build? || task.running? %>
      <h6>No artefacts yet<h6>
    <% else %>
      <h6>No artefacts<h6>
    <% end %>
    <div class="vstack gap-3">

      <% task.artefacts.group_by(&:distro).sort_by { |i| d = ::Distro[i.first]; [d.family, d.name] }.each do |distro, afacts| %>
        <div class="card" id="artefacts-<%= dom_friendly(distro)%>">
          <div class="card-header">
            <div class="row">
              <div class="col-md-auto">
                <%= render partial: 'layouts/distro_icon', locals: { family: ::Distro[distro].family, size: 24 } %>
                <%= ::Distro[distro].name %>
              </div>
              <div class="col">
              <% if afacts.any?(&:error?) %>
                <%= button_to tasks_path(project_id: task.project.id, distro_ids: [distro], skip_fetch: true), method: :post, class: 'btn btn-link' do %>
                  <i class="bi bi-exclamation-triangle-fill text-danger me-1"></i> Retry
                <% end %>
              <% end %>
              </div>
            </div>
          </div>

          <div class="card-body">
            <table class="table table-sm">

              <thead>
                <tr>
                  <th scope="col">File</th>
                  <th scope="col">Content type</th>
                  <th scope="col">Size</th>
                  <th scope="col">Created at</th>
                </tr>
              </thead>

              <tbody>
                <% afacts.each do |afact| %>
                  <tr>
                    <td><%= link_to afact.filename, rails_blob_path(afact.attachment.blob, disposition: 'attachment') %></td>
                    <td><%= afact.attachment.content_type %></td>
                    <td><%= number_to_human_size(afact.attachment.byte_size) %></td>
                    <td><%= afact.attachment.blob.created_at %></td>
                  </tr>
                <% end %>

              </tbody>
            </table>

          </div>
        </div>
      <% end %>

    </div>

  </div>

  <div class="pt-3">
    <div class="btn-group" role="group" aria-label="webhooks buttons">
      <%= link_to 'Back to tasks list', tasks_path, class: 'btn btn-link' %>
      <% if task.pending_fetch? || task.pending_build? || task.running? %>
        <%= button_to cancel_task_path(task), method: :post, class: 'btn btn-link link-danger', form: { data: { turbo_confirm: "Cancel this task?" } } do %>
          Cancel
        <% end %>
      <% end %>
    </div>
  </div>

</div>
