<h5>Your account</h5>

<div class="container pt-3">

  <div>
    <div>
      <p>Signed as <strong><%= @user.email %></strong></p>
      <p>
        Name <strong><%= @user.name.presence || 'unspecified' %></strong>
        <a href="#" class="m-1" data-bs-toggle="modal" data-bs-target="#changeAccountModal">
          <i class="bi bi-pencil-square"></i> change
        </a>
      </p>
    </div>

    <div>
      <%= link_to 'Change email address', edit_identity_email_path, class: 'm-1' %>
      <%= link_to 'Change password', edit_password_path, class: 'm-1' %>
      <%= link_to 'Devices & Sessions', sessions_path, class: 'm-1' %>
    </div>
  </div>


  <div class="mt-5">
    <h6>GPG key</h6>
    <div class="bg-body-tertiary p-2 rounded-2">
      <pre><%= @user.gpg_key.public_info.strip %></pre>
    </div>
    <%= link_to 'Manage', index_gpg_key_path, class: 'link-secondary m-1' %>
  </div>

  <div class="mt-5">
    <%= link_to "Your private CI agents", agents_path %>
  </div>


  <div class="mt-5">
    <%= button_to "Log out", current_session, method: :delete, class: 'btn link-warning' %>
  </div>
</div>


<div class="modal fade" id="changeAccountModal" tabindex="-1" aria-labelledby="changeAccountModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with(model: @user, url: identity_account_path, method: :patch) do |form| %>
        <div class="modal-body">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control", autocomplete: 'off' %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= form.submit "Save changes", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
