<h5>Your account</h5>

<div class="container pt-3">

  <div>
    Signed as <strong><%= @user.email %></strong>

    <div>
      <%= link_to 'Change email address', edit_identity_email_path, class: 'link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1' %>
      <%= link_to 'Change password', edit_password_path, class: 'link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1' %>
      <%= link_to 'Devices & Sessions', sessions_path, class: 'link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1' %>
    </div>
  </div>


  <div class="mt-5">
    <h6>GPG key</h6>
    <div class="bg-body-tertiary p-2 rounded-2">
      <pre><%= @user.gpg_key.public_info.strip %></pre>
    </div>
    <%= link_to 'Manage', index_gpg_key_path, class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1' %>
  </div>

  <div class="mt-5">
    <%= link_to "Your private CI agents", agents_path %>
  </div>


  <div class="mt-5">
    <%= button_to "Log out", current_session, method: :delete, class: 'btn link-warning' %>
  </div>
</div>
