<h5>Your account</h5>

<div class="container pt-3">

  <div>
    <div class="row">
      <div class="col-md-auto">
        <div>
          <%= image_tag(@user.gravatar_url, height: '64', width: '64', class: 'img-thumbnail rounded', alt: 'gravatar') %>
        </div>
        <div>
          <span class="fw-lighter ms-1">Gravatar</span>
        </div>
      </div>

      <div class="col">
        <p>
          <%= @user.email %>
          <span class="fw-lighter"> - Email</span>
        </p>
        <p>
          <%= @user.displayed_name %>
          <span class="fw-lighter"> - displayed name</span>
        </p>
      </div>

      <div class="col">
        <small class="fw-lighter">Preview of publicly visible profile on packages install page</small>

        <div class="mt-2">
          <%= render partial: 'identity/accounts/public_profile', locals: { user: @user } %>
        </div>
      </div>
    </div>

    <div class="pt-3">
      <%= link_to 'Change email address', edit_identity_email_path, class: 'm-1' %>
      <%= link_to 'Change password', edit_password_path, class: 'm-1' %>
      <a href="#" class="m-1" data-bs-toggle="modal" data-bs-target="#changeAccountModal">
        Change profile info
      </a>
    </div>
  </div>

  <div class="mt-3">
    <%= link_to 'Devices & Sessions', sessions_path, class: 'm-1' %>
  </div>

  <div class="mt-3">
    <%= link_to "Your private CI agents", agents_path, class: 'm-1' %>
  </div>

  <div class="mt-3">
    <h6>GPG key</h6>
    <div class="bg-body-tertiary p-2 rounded-2">
      <pre><%= @user.gpg_key.public_info.strip %></pre>
    </div>
    <%= link_to 'Manage', index_gpg_key_path, class: 'link-secondary m-1' %>
  </div>

  <div class="mt-3">
    <h6>Slug</h6>
    <div class="font-monospace">
      <%= @user.slug %>
    </div>
    <div class="text-secondary">
      Default bucket URL: <%= @user.repository_default_storage_config.url %>
    </div>
  </div>


  <div class="mt-5">
    <%= button_to "Log out", current_session, method: :delete, class: 'btn btn-outline-warning' %>
  </div>
</div>


<div class="modal fade" id="changeAccountModal" tabindex="-1" aria-labelledby="changeAccountModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with(model: @user, url: identity_account_path, method: :patch) do |form| %>
        <div class="modal-body">
          <div class="mb-3">
            <%= form.label :name, class: "form-label" %>
            <%= form.text_field :name, class: "form-control", autocomplete: 'off' %>
          </div>

          <% ::User::MAX_PROFILE_LINKS.times do |i| %>
            <div class="mb-3">
              <%= form.label "Profile link ##{i + 1}", class: "form-label" %>
              <%= form.url_field "profile_link_#{i + 1}", class: "form-control" %>
            </div>
          <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= form.submit "Save changes", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
