<p>
  Signed as <strong><%= @user.email %></strong>
</p>

<p>
  <%= link_to "Change email address", edit_identity_email_path %>
</p>

<p>
  <%= link_to "Change password", edit_password_path %>
</p>

<p>
  <%= link_to "Devices & Sessions", sessions_path %>
</p>

<br>

<p>
  <%= button_to "Log out", current_session, method: :delete, class: 'btn btn-outline-warning' %>
</p>
