<%# locals: (dashboard:) -%>

<div class="container" id="dashboard">
  <% @dashboard.distros.group_by(&:family).each do |family, distros| %>
    <div class="row pt-3 pb-3 align-items-center">
      <div class="col-md-auto">
        <%= render partial: 'layouts/distro_icon', locals: { family: family, size: 64 } %>
      </div>

      <div class="col">

        <div class="card-group">
          <% distros.sort_by(&:name).each do |d| %>
            <div class="card">
              <div class="card-body">
                <h6 class="card-title"><%= d.name %> <small class="text-secondary"><%= d.arch %></small></h6>

                <ul class="list-group list-group-flush">
                  <% @dashboard.projects_by_distro(d).each do |proj| %>
                    <%- last_pub = proj.repositories.where(distro_id: d.id).order(published_at: :asc).last&.published_at %>
                    <% next unless last_pub %>
                    <li class="list-group-item">
                      <div class="row align-items-center">
                        <div class="col-md-auto fs-4">
                          <%= link_to package_install_path(proj, active: d.id, anchor: "collapse-accordion-#{dom_friendly(d.id)}"), class: 'link-underline link-underline-opacity-0 link-opacity-50', target: '_blank' do %>
                            <i class="bi bi-download"></i>
                          <% end %>
                        </div>
                        <div class="col">
                          <%= link_to proj.name, project_path(proj) %>
                          <div>
                            <small class="text-secondary"><%= time_ago_in_words(last_pub) %> ago</small>
                          </div>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>


            </div>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
</div>
