<h5>Webhook <code><%= @webhook.key %></code></h5>

<div class="container pt-3">

  <pre>
curl -X POST <%= trigger_webhook_url(@webhook.key) %><%= @webhook.secret.present? ? " -H '#{@webhook.sample_header_github}" : ''%>
  </pre>

  <%= render partial: 'webhooks/form', locals: { webhook: @webhook } %>

  <div class="btn-group" role="group" aria-label="webhooks buttons">
    <%= button_to project_webhook_path(@webhook.project.id, @webhook.id), method: :delete, class: 'btn btn-link link-danger', form: { data: { turbo_confirm: "Delete this webhook?" } } do %>
      Delete this webhook
    <% end %>
  </div>
</div>
