<% if current_user.verified? %>
  <h5>Change your email</h5>
<% else %>
  <h5>Verify your email</h5>
  <p>We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.</p>
  <p><%= button_to "Re-send verification email", identity_email_verification_path, class: 'btn btn-link' %></p>
<% end %>

<div class="container pt-3">

  <div style="width: 300px">
    <%= form_with(url: identity_email_path, method: :patch) do |form| %>
      <div class="mb-3">
        <%= form.label :email, "New email", class: "form-label" %>
        <%= form.email_field :email, class: "form-control" %>
      </div>

      <div>
        <%= form.submit "Save changes", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>
