<%= form_with(url: project.new_record? ? projects_path : project_path(project.id), method: project.new_record? ? :post : :patch) do |f| %>
  <div class="row mb-3">

    <div class="col-sm-2">
      <%= f.label :name, class: 'col-form-label' %>
    </div>

    <div class="col-sm-10">

      <div class="input-group has-validation">
        <%= f.text_field :name, value: project.name, class: "form-control#{project.errors.include?(:name) ? ' is-invalid' : ''}", required: true, 'aria-describedby' => 'validation-error-name' %>
        <div id="validation-error-name" class="invalid-feedback">
          <%= project.errors.messages[:name].to_sentence %>
        </div>
      </div>

    </div>

  </div>


  <div class="row mb-3">

    <div class="col-sm-2">
      <%= f.label 'Build for distros', class: 'col-form-label' %>
    </div>

    <div class="col-sm-10">
      <%= f.collection_check_boxes :project_distros, ::Distro.all, :id, :name do |b| %>
        <div class="form-check">
          <%= b.check_box(checked: project.distros.any? { |d| d.id == b.value }, class: 'form-check-input') %>
          <%= b.label(class: 'form-check-label') %>
        </div>
      <% end %>
    </div>

  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
