<%# locals: (project:) -%>

<%= form_with(model: project) do |f| %>

  <div class="mb-5">
    <%= f.label :name, class: 'form-label' %>
    <div id="name-help" class="form-text">
      Project name must contain only alphanumerical symbols
    </div>
    <%= f.text_field :name,
          value:  project.name,
          class:  "form-control #{project.errors.include?(:name) ? 'is-invalid' : ''}",
          aria:   { describedby:  'validation-error-name name-help' },
          placeholder: 'Awesome project'
    %>
    <div id="validation-error-name" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:name).to_sentence %>
    </div>
  </div>

  <div class="mb-1">
    <%= f.label :sources_kind, class: 'form-label' %>
    <%= f.collection_select(
          :sources_kind,
          ::Project.sources_kinds.keys,
          :itself,
          :upcase,
          { include_blank: false, selected: project.sources_kind },
          { class: 'form-select' }
    )%>
  </div>

  <div class="mb-5">
    <%= f.label :sources_location, class: 'form-label' %>
    <%= f.text_field :sources_location,
          value:  project.sources_location,
          class:  "form-control #{project.errors.include?(:sources_location) ? 'is-invalid' : ''}",
          aria:   { describedby: 'validation-error-sources_location' },
          placeholder: 'git@github.com:username/awesome-project.git'
    %>
    <div id="validation-error-sources_location" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:sources_location).to_sentence %>
    </div>

    <%= f.label :sources_branch, class: 'form-label' %>
    <%= f.text_field :sources_branch,
          value:  project.sources_branch,
          class:  "form-control #{project.errors.include?(:sources_branch) ? 'is-invalid' : ''}",
          aria:   { describedby:  'validation-error-sources_branch sources_branch-help' },
          placeholder: 'master'
    %>
    <div id="sources_branch-help" class="form-text">
      Optional - to override the default branch
    </div>
    <div id="validation-error-sources_branch" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:sources_branch).to_sentence %>
    </div>

    <div class="d-inline-flex gap-1 pt-3">
      <a class="link-offset-2 link-underline link-underline-opacity-0 form-label" data-bs-toggle="collapse" href="#collapseSubDir" role="button" aria-expanded="false" aria-controls="collapseSubDir">
        Sub-directory (optional)
      </a>
    </div>
    <div class="collapse <%= project.sources_subdir.present? ? 'show' : '' %>" id="collapseSubDir">
      <div class="form-text">
        If the source code is located in subfolder, not in the root.
      </div>
      <%= f.text_field :sources_subdir,
            value:  project.sources_subdir,
            class:  "form-control #{project.errors.include?(:sources_subdir) ? 'is-invalid' : ''}",
            aria:   { describedby: 'validation-error-sources_subdir' }
      %>
      <div id="validation-error-sources_subdir" class="invalid-feedback d-block">
        <%= project.errors.messages_for(:sources_subdir).to_sentence %>
      </div>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
