<%# locals: (project:) -%>

<%= form_with(url: project.new_record? ? projects_path : project_path(project.id), method: project.new_record? ? :post : :patch) do |f| %>

  <div class="mb-3">
    <%= f.label 'Name', class: 'col-form-label' %>

    <div class="input-group has-validation">
      <%= f.text_field(:name,
            value: project.name,
            class: "form-control#{project.errors.include?(:name) ? ' is-invalid' : ''}",
            required: true,
            'aria-describedby' => 'validation-error-name'
      )%>
      <div id="validation-error-name" class="invalid-feedback">
        <%= project.errors.messages[:name].to_sentence %>
      </div>

    </div>

  </div>

  <div class="mb-3">
    <%= f.label 'Source code', class: 'col-form-label' %>
    <div class="input-group has-validation">

      <%= f.collection_select(
            :sources_kind,
            ::Project.sources_kinds.keys,
            :itself,
            :upcase,
            { include_blank: false, selected: project.sources_kind },
            { class: 'form-select', style: 'width: 2em' }
      )%>

      <%= f.text_field(
            :sources_location,
            value: project.sources_location,
            class: "form-control w-75#{project.errors.include?(:sources_location) ? ' is-invalid' : ''}",
            required: true,
            'aria-describedby' => 'validation-error-sources_location'
      )%>
      <div id="validation-error-sources_location" class="invalid-feedback">
        <%= project.errors.messages[:sources_location].to_sentence %>
      </div>

    </div>

    <div class="d-inline-flex gap-1">
      <a class="link-offset-2 link-underline link-underline-opacity-0 form-label" data-bs-toggle="collapse" href="#collapseSubDir" role="button" aria-expanded="false" aria-controls="collapseSubDir">
        Sub-directory (optional)
      </a>
    </div>
    <div class="collapse <%= project.sources_subdir.present? ? 'show' : '' %>" id="collapseSubDir">
      <div class="form-text">
        If the source code is located in subfolder, not in the root.
      </div>
      <div class="input-group has-validation">
        <%= f.text_field(:sources_subdir,
              value: project.sources_subdir,
              class: "form-control#{project.errors.include?(:sources_subdir) ? ' is-invalid' : ''}",
              required: false,
              'aria-describedby' => 'validation-error-sources_subdir'
        )%>
        <div id="validation-error-sources_subdir" class="invalid-feedback">
          <%= project.errors.messages[:sources_subdir].to_sentence %>
        </div>
      </div>
    </div>

  </div>

  <div class="pt-3">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
