<%# locals: (project:) -%>

<%= form_with(model: project, data: { controller: 'project-form' }) do |f| %>

  <div class="mb-2">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name,
          value:  project.name,
          class:  "form-control #{project.errors.include?(:name) ? 'is-invalid' : ''}",
          aria:   { describedby:  'validation-error-name name-help' },
          placeholder: 'Awesome project',
          data: { 'project-form-target' => 'name', 'action' => 'input->project-form#onNameChange' }
    %>
    <div id="validation-error-name" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:name).to_sentence %>
    </div>
  </div>

  <% if project.new_record? %>
    <div class="mb-5">
      <%= f.label :slug, class: 'form-label' %>
      <div id="slug-help" class="form-text">
        Slug will be used in bucket's name and thus must contain only alphanumeric url-safe characters. It cannot be changed later.
      </div>
      <%= f.text_field :slug,
            value:  project.slug,
            class:  "form-control #{project.errors.include?(:slug) ? 'is-invalid' : ''}",
            aria:   { describedby:  'validation-error-slug slug-help' },
            placeholder: '',
            data: { 'project-form-target' => 'slug', 'action' => 'input->project-form#onSlugChange' }
      %>
      <div id="validation-error-slug" class="invalid-feedback d-block">
        <%= project.errors.messages_for(:slug).to_sentence %>
      </div>
      <div class="form-text">
        Bucket's URL: <span data-project-form-target='exampleUrl'></span>
      </div>
    </div>
  <% end %>

  <div class="mb-1">
    <%= f.label :sources_kind, class: 'form-label' %>
    <%= f.collection_select(
          :sources_kind,
          ::Project.sources_kinds.keys,
          :itself,
          :upcase,
          { include_blank: false, selected: project.sources_kind },
          { class: 'form-select' }
    )%>
  </div>

  <div class="mb-5">
    <%= f.label :sources_location, class: 'form-label' %>
    <%= f.text_field :sources_location,
          value:  project.sources_location,
          class:  "form-control #{project.errors.include?(:sources_location) ? 'is-invalid' : ''}",
          aria:   { describedby: 'validation-error-sources_location' },
          placeholder: 'git@github.com:username/awesome-project.git'
    %>
    <div id="validation-error-sources_location" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:sources_location).to_sentence %>
    </div>

    <%= f.label :sources_branch, class: 'form-label' %>
    <%= f.text_field :sources_branch,
          value:  project.sources_branch,
          class:  "form-control #{project.errors.include?(:sources_branch) ? 'is-invalid' : ''}",
          aria:   { describedby:  'validation-error-sources_branch sources_branch-help' },
          placeholder: 'master'
    %>
    <div id="sources_branch-help" class="form-text">
      Optional - to override the default branch
    </div>
    <div id="validation-error-sources_branch" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:sources_branch).to_sentence %>
    </div>

    <div class="gap-1 pt-3">
      <a class="link-offset-2 link-underline link-underline-opacity-0 form-label" data-bs-toggle="collapse" href="#collapseSubDir" role="button" aria-expanded="false" aria-controls="collapseSubDir">
        Sub-directory
      </a>
    </div>
    <div class="collapse <%= project.sources_subdir.present? ? 'show' : '' %> ps-3 pe-3" id="collapseSubDir">
      <div class="form-text">
        If the source code is located in subfolder, not in the root.
      </div>
      <%= f.text_field :sources_subdir,
            value:  project.sources_subdir,
            class:  "form-control #{project.errors.include?(:sources_subdir) ? 'is-invalid' : ''}",
            aria:   { describedby: 'validation-error-sources_subdir' }
      %>
      <div id="validation-error-sources_subdir" class="invalid-feedback d-block">
        <%= project.errors.messages_for(:sources_subdir).to_sentence %>
      </div>
    </div>

    <div class="gap-1 pt-3">
      <a class="link-offset-2 link-underline link-underline-opacity-0 form-label" data-bs-toggle="collapse" href="#collapseSecrets" role="button" aria-expanded="false" aria-controls="collapseSecrets">
        Secrets
      </a>
    </div>
    <div class="collapse <%= project.errors.include?(:secrets) ? 'show' : '' %> ps-3 pe-3" id="collapseSecrets">
      <div class="form-text">
<pre>KEY1=VALUE1
KEY2=VALUE2</pre>
        Secrets will be passed to the build process via environment variables and hidden from logs. <a href="#" target="_blank">Learn more</a>
      </div>
      <%= f.text_area :secrets,
            value:  project.secrets&.to_env,
            class:  "form-control #{project.errors.include?(:secrets) ? 'is-invalid' : ''}",
            aria:   { describedby: 'validation-error-secrets' }
      %>
      <div id="validation-error-secrets" class="invalid-feedback d-block">
        <%= project.errors.messages_for(:secrets).to_sentence %>
      </div>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
