<%# locals: (project:) -%>

<%= form_with(model: project, data: (project.new_record? ? { controller: 'slugify-form' } : {})) do |f| %>

  <div class="mb-2">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name,
          value:  project.name,
          class:  "form-control #{project.errors.include?(:name) ? 'is-invalid' : ''}",
          aria:   { describedby:  'validation-error-name name-help' },
          placeholder: '',
          data: { 'slugify-form-target' => 'name', 'action' => 'input->slugify-form#onNameChange' }
    %>
    <div id="validation-error-name" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:name).to_sentence %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_field :description,
          value:  project.description,
          class:  "form-control #{project.errors.include?(:description) ? 'is-invalid' : ''}",
          aria:   { describedby:  'validation-error-description description-help' }
    %>
    <div id="validation-error-description" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:description).to_sentence %>
    </div>
    <div id="description-help" class="form-text">
      Description will be visible to all users on public installation page.
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :upstream_url, class: 'form-label' %>
    <%= f.text_field :upstream_url,
          value:  project.upstream_url,
          class:  "form-control #{project.errors.include?(:upstream_url) ? 'is-invalid' : ''}",
          aria:   { describedby:  'validation-error-upstream_url upstream_url-help' }
    %>
    <div id="validation-error-upstream_url" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:upstream_url).to_sentence %>
    </div>
    <div id="upstream_url-help" class="form-text">
      In addition to publicly visible description, provide a link to the project's site, GitHub, etc.
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :logo, class: 'form-label' %>
    <div class="d-flex">
      <%= f.file_field :logo,
            value:  project.logo,
            class:  "form-control #{project.errors.include?(:logo) ? 'is-invalid' : ''}",
            aria:   { describedby:  'validation-error-logo logo-help' }
      %>
      <% if project.logo.present? %>
        <%= image_tag(url_for(project.logo), height: '32', width: '32', class: 'img ms-2', alt: 'logo') %>
      <% end %>
    </div>
    <div id="validation-error-logo" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:logo).to_sentence %>
    </div>
    <div id="logo-help" class="form-text">
      Similar to description, logo will be visible to everyone.
    </div>
  </div>

  <% if project.new_record? %>
    <div class="mb-5">
      <%= f.label :slug, class: 'form-label' %>
      <div id="slug-help" class="form-text">
        Slug will be used in bucket's name and thus must contain only alphanumeric url-safe characters. It cannot be changed later.
      </div>
      <%= f.text_field :slug,
            value:  project.slug,
            class:  "form-control #{project.errors.include?(:slug) ? 'is-invalid' : ''}",
            aria:   { describedby:  'validation-error-slug slug-help' },
            placeholder: '',
            data: { 'slugify-form-target' => 'slug', 'action' => 'input->slugify-form#onSlugChange' }
      %>
      <div id="validation-error-slug" class="invalid-feedback d-block">
        <%= project.errors.messages_for(:slug).to_sentence %>
      </div>
      <div class="form-text">
        Storage URL: <span data-slugify-form-target='exampleUrl'></span>
        <br />
        You will be able to configure custom storage location later
      </div>
    </div>
  <% end %>

  <div class="mb-1">
    <%= f.label :sources_kind, class: 'form-label' %>
    <%= f.collection_select(
          :sources_kind,
          ::Project.sources_kinds.keys,
          :itself,
          :upcase,
          { include_blank: false, selected: project.sources_kind },
          { class: 'form-select' }
    )%>
  </div>

  <div class="mb-5">
    <%= f.label :sources_location, class: 'form-label' %>
    <%= f.text_field :sources_location,
          value:  project.sources_location,
          class:  "form-control #{project.errors.include?(:sources_location) ? 'is-invalid' : ''}",
          aria:   { describedby: 'validation-error-sources_location' },
          placeholder: 'git@github.com:username/awesome-project.git'
    %>
    <div id="validation-error-sources_location" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:sources_location).to_sentence %>
    </div>

    <%= f.label :sources_branch, class: 'form-label' %>
    <%= f.text_field :sources_branch,
          value:  project.sources_branch,
          class:  "form-control #{project.errors.include?(:sources_branch) ? 'is-invalid' : ''}",
          aria:   { describedby:  'validation-error-sources_branch sources_branch-help' },
          placeholder: 'master'
    %>
    <div id="sources_branch-help" class="form-text">
      Optional - to override the default branch
    </div>
    <div id="validation-error-sources_branch" class="invalid-feedback d-block">
      <%= project.errors.messages_for(:sources_branch).to_sentence %>
    </div>

    <div class="gap-1 pt-3">
      <a class="link-offset-2 link-underline link-underline-opacity-0 form-label" data-bs-toggle="collapse" href="#collapseSubDir" role="button" aria-expanded="false" aria-controls="collapseSubDir">
        Sub-directory
      </a>
    </div>
    <div class="collapse <%= project.sources_subdir.present? ? 'show' : '' %> ps-3 pe-3" id="collapseSubDir">
      <div class="form-text">
        If the source code is located in subfolder, not in the root.
      </div>
      <%= f.text_field :sources_subdir,
            value:  project.sources_subdir,
            class:  "form-control #{project.errors.include?(:sources_subdir) ? 'is-invalid' : ''}",
            aria:   { describedby: 'validation-error-sources_subdir' }
      %>
      <div id="validation-error-sources_subdir" class="invalid-feedback d-block">
        <%= project.errors.messages_for(:sources_subdir).to_sentence %>
      </div>
    </div>

    <div class="gap-1 pt-3">
      <a class="link-offset-2 link-underline link-underline-opacity-0 form-label" data-bs-toggle="collapse" href="#collapseSecrets" role="button" aria-expanded="false" aria-controls="collapseSecrets">
        Secrets
      </a>
    </div>
    <div class="collapse <%= project.errors.include?(:secrets) ? 'show' : '' %> ps-3 pe-3" id="collapseSecrets">
      <div class="form-text">
<pre>KEY1=VALUE1
KEY2=VALUE2</pre>
        Secrets will be passed to the build process via environment variables and hidden from logs. <a href="#" target="_blank">Learn more</a>
      </div>
      <%= f.text_area :secrets,
            value:  project.secrets&.to_env,
            class:  "form-control #{project.errors.include?(:secrets) ? 'is-invalid' : ''}",
            aria:   { describedby: 'validation-error-secrets' }
      %>
      <div id="validation-error-secrets" class="invalid-feedback d-block">
        <%= project.errors.messages_for(:secrets).to_sentence %>
      </div>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
