<%# locals: (project:) -%>

<h5>Project <%= project.name %></h5> <span class="fw-light text-body-secondary"><%= project.slug %></span>

<div class="container pt-3">
  <div class="pt-3">
    <h6>Sources</h6>
    <%= render partial: 'projects/sources', locals: { project: project } %>
  </div>

  <div class="pt-3">
    <h6>SSH public key</h6>
    <%= render partial: 'projects/ssh_key', locals: { project: project } %>
  </div>

  <div class="pt-3">
    <h6>Secrets</h6>
    <span>
      <a href="#collapseSecrets" class="link-underline link-underline-opacity-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSecrets" aria-expanded="false" aria-controls="collapseSecrets">
        show
      </a>
    </span>

    <div class="collapse" id="collapseSecrets">
      <small class="fw-light">Secrets will be passed to the build process via environment variables and hidden from logs. <a href="#" target="_blank">Learn more</a></small>
      <div class="bg-body-tertiary p-2 rounded-2">
        <pre><%= project.secrets.to_env %></pre>
      </div>
    </div>
  </div>

  <div class="pt-3">
    <h6>Triggers</h6>
    <%= render partial: 'projects/triggers', locals: { project: project } %>
  </div>

  <div class="pt-3">
    <h6>Repositories</h6>
    <%= render partial: 'projects/repos', locals: { repositories: project.repositories } %>
  </div>

  <div class="pt-3">
    <h6>Download packages</h6>
    <p class="fw-light">Share link to this page with your users</p>
    <%= link_to package_install_path(project.user.slug, project.slug), class: 'btn btn-link', target: '_blank' do %>
      <i class="bi bi-download me-2"></i> Public download page
    <% end %>
  </div>

  <div class="pt-3">
    <%= link_to 'Edit project', edit_project_path(project.id), class: 'btn btn-link' %>
    <a class="btn btn-link link-danger" href="#" data-bs-toggle="modal" data-bs-target="#delete_project_modal">Delete project</a>
  </div>

</div>


  <div class="modal fade" id="delete_project_modal" tabindex="-1" aria-labelledby="delete_project_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>
          Deleting the project will also delete all respositories and files.
        </p>

        <p class="text-warning">
          This operation cannot be undone.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= button_to 'Yes, delete this project and all repositories', project_path(project.id), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>

</div>
