<%# locals: (project:) -%>

<div>
  <div class="row">
    <div class="col-auto" style="width: 80px">
      <% if project.logo.present? %>
        <%= image_tag(url_for(project.logo), height: '64', width: '64', class: 'img', alt: 'logo') %>
      <% end %>
    </div>

    <div class="col">
      <h5>
        <%= link_to project.name, project_path(project.id), class: 'card-link' %>
      </h5>

      <div class="fw-light text-body-secondary">
        <% if project.sources_fetch_error.present? %>
          <span class="text-danger">
            Sources fetch error: <%= project.sources_fetch_error %>
          </span>
        <% end %>
      </div>

      <div>
        <%= render partial: 'projects/task_state', locals: { project: project } %>
      </div>

      <% if project.sources_verified? %>
        <%= button_to 'Build now', tasks_path(project_id: project.id, no_redirect: 'true'), method: :post, class: 'btn btn-link btn-sm' %>
      <% end %>
    </div>

    <div class="col text-end">
      <span>
        <% if project.sources_verified? %>
          <%= link_to package_install_path(project.user.slug, project.slug), class: 'btn btn-link', target: '_blank' do %>
            <i class="bi bi-download me-2"></i> Public install page
          <% end %>
        <% end %>
      </span>
    </div>
  </div>

</div>
