<h5>Projects</h5>

<div class="container pt-2">
  <div class="vstack gap-3">
    <% @projects.each do |project| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to project.name, project_path(project.id), class: 'card-link' %>
          </h5>

          <div class="card-text">

            <span class="badge bg-<%= project.sources_verified? ? 'success' : 'danger' %>"><%= project.sources_kind.upcase %></span>
            <%= project.sources_location %>
            <% if project.sources_subdir.present? %>
              | <%= project.sources_subdir %>
            <% end %>

            <span class="float-end">
              <% if project.sources_verified? %>
                <% project.distros.map(&:family).uniq.each do |df| %>
                  <%= render partial: 'layouts/distro_icon', locals: { family: df, size: 24 } %>
                <% end %>
              <% end %>
            </span>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="pt-3">
    <%= render partial: 'layouts/pagination', locals: { pagination: @pagination } %>
  </div>

  <div class="pt-3">
    <%= link_to new_project_path, class: 'btn btn-primary' do %>
      <i class="bi bi-plus-circle"></i> Add new project
    <% end %>
  </div>
</div>
