<h5>Project <%= @project.name %></h5>

<div class="container pt-3">
  <div class="pt-3">
    <h6>Sources</h6>

    <span class="badge text-secondary"><%= @project.sources_kind.upcase %></span> <span class="font-monospace bg-body-tertiary"><%= @project.sources_location %></span>
    <% if @project.sources_subdir.present? %>
      <span class="badge text-secondary">SUBDIR</span><span class="font-monospace text-secondary bg-body-tertiary"><%= @project.sources_subdir %></span>
    <% end %>
    <% if @project.sources_verified? %>
      <span class="badge text-success">verified <%= time_ago_in_words(@project.sources_verified_at) %> ago</span>
    <% else %>
      <span class="badge text-danger">unverified</span>
    <% end %>

    <div>
      <div class="btn-group" role="group" aria-label="sources manage">
        <%= button_to 'Fetch sources', project_sources_path(@project.id), method: :post, class: 'btn btn-link btn-sm' %>
        <% if @project.sources_verified? %>
          <%= link_to 'Download cached sources tarball', project_sources_path(@project.id), class: 'btn btn-link btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="pt-3">
    <h6>
      SSH public key
      <a href="#collapseSshKey" class="link-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSshKey" aria-expanded="false" aria-controls="collapseSshKey">
        show
      </a>
    </h6>

    <div class="collapse" id="collapseSshKey" data-controller="clipboard">
      <small>Add this key to your sources repository with read only access. Usually these types of keys called "deployment keys" or something like that.</small>
      <div class="bg-body-tertiary p-2 rounded-2">
        <pre class="pre-line-wrap" data-clipboard-target="source"><%= @project.sources_public_ssh_key %></pre>
      </div>

      <div class="btn-group" role="group" aria-label="ssh key manage">
        <button data-action="clipboard#copy" class="btn btn-link btn-sm"><i class="bi bi-copy me-1"></i>Copy to clipboard</button>
        <%= button_to 'Generate new key', project_ssh_keys_path(@project.id), method: :post, class: 'btn btn-link btn-sm link-warning', form: { data: { turbo_confirm: "You will have to add newly generated key to the sources repository. Continue?" } } %>
      </div>
    </div>

  </div>

  <div class="pt-3">
    <h6>Triggers</h6>

    <%= button_to 'Build now', tasks_path(project_id: @project.id), method: :post, class: 'btn btn-link btn-sm' %>
  </div>

  <div class="pt-3">
    <h6>Repositories</h6>
    <%= render partial: 'projects/repos', locals: { repositories: @project.repositories } %>
  </div>

  <div class="pt-3">
    <%= link_to 'Back to projects list', projects_path, class: 'btn btn-link' %>
    <%= link_to 'Edit project', edit_project_path(@project.id), class: 'btn btn-link' %>
    <a class="btn btn-link link-danger" href="#" data-bs-toggle="modal" data-bs-target="#delete_project_modal">Delete project</a>
  </div>

</div>


<div class="modal fade" id="delete_project_modal" tabindex="-1" aria-labelledby="delete_project_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>
          Deleting the project will also delete all respositories and files.
        </p>

        <p class="text-warning">
          This operation cannot be undone.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= button_to 'Yes, delete this project and all repositories', project_path(@project.id), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
