<h5>Change your password</h5>

<div class="container">
  <div class="w-25">
    <%= form_with(url: password_path, method: :patch) do |form| %>

      <div class="mb-3">
        <%= form.label :current_password, class: "form-label" %>
        <%= form.password_field :current_password, required: true, autofocus: true, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :password, "New password", class: "form-label" %>
        <%= form.password_field :password, required: true, autocomplete: "new-password", class: "form-control" %>
        <div class="form-text"><%= ::User::PASSWORD_MIN_LENGTH %> characters minimum</div>
      </div>

      <div class="mb-3">
        <%= form.label :password_confirmation, "Confirm new password", class: "form-label" %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div>
        <%= form.submit "Save changes", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
