<%# locals: (family:, repos:) -%>

<div class="accordion" id="accordion-<%= dom_friendly(family) %>">

  <% repos.sort_by { |i| i.distro.name }.each do |repo| %>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button <%= params[:active] == repo.distro.id ? '' : 'collapsed' %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-accordion-<%= dom_friendly(repo.distro.id) %>" aria-expanded="<%= params[:active] == repo.distro.id ? 'true' : 'false' %>" aria-controls="collapse-accordion-<%= dom_friendly(repo.distro.id) %>">
          <%= repo.distro.name %>
        </button>
      </h2>

      <div id="collapse-accordion-<%= dom_friendly(repo.distro.id) %>" class="accordion-collapse collapse <%= params[:active] == repo.distro.id ? 'show' : '' %>" data-bs-parent="#accordion-<%= dom_friendly(family) %>">
        <div class="accordion-body">

          <h6>Package installation steps for <%= repo.distro.name %></h6>
          <div class="bg-body-tertiary p-2 rounded-2">
            <pre id="steps-pre-<%= dom_friendly(repo.distro.id) %>"><%= repo.installable_cli %></pre>
          </div>

          <div class="btn-group" role="group" aria-label="installation step manage">
            <button onclick="copyTextToClipboard('#steps-pre-<%= dom_friendly(repo.distro.id) %>')" class="btn btn-link btn-sm">Copy to clipboard</button>
            <button class="btn btn-link btn-sm link-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-gpg-key-<%= dom_friendly(repo.distro.id) %>" aria-expanded="false" aria-controls="#collapse-gpg-key-<%= dom_friendly(repo.distro.id) %>">
              GPG key
            </button>
          </div>

          <div class="collapse" id="collapse-gpg-key-<%= dom_friendly(repo.distro.id) %>">
            <div class="bg-body-tertiary p-2 rounded-2">
              <pre><%= repo.gpg_key.public_info.strip %></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</div>
