<div class="p-3">
  <div class="container-fluid py-3 text-center">
    <h1 class="text-center">Install <%= @project.name %></h1>
    <blockquote class="blockquote">
      <p>
        <%= @project.description %>
        <%= link_to @project.upstream_url, @project.upstream_url, target: '_blank' %>
      </p>
    </blockquote>

    <small class="text-body-secondary">Provided by <%= @project.user.displayed_name %></small>
  </div>
</div>

<div class="container p-3">
  <div class="vstack gap-5 pt-3">
    <% @repositories.group_by { |repo| repo.distro.family }.each do |family, repos| %>
      <div class="row align-items-center">
        <div class="col-md-auto">
          <%= render partial: 'distro_icon', locals: { family: family, size: 64 } %>
        </div>

        <div class="col-md-11">
          <%= render partial: 'installs/repos', locals: { family: family, repos: repos } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
