<!DOCTYPE html>
<html data-bs-theme="auto" data-controller="theme-selector">
  <head>
    <title>Install <%= @project.name %> - OmniPackage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render partial: 'bootstrap' %>
  </head>

  <body>

    <div class="p-3 bg-body-tertiary">
      <div class="float-end">
        <%= render partial: 'theme_selector' %>
      </div>
      <div class="container-fluid py-3 text-center">
        <h1 class="text-center">Install <%= @project.name %></h1>
      </div>
    </div>

    <div class="container p-3">
      <div class="vstack gap-5 pt-3">
        <% @project.repositories.published.ordered.group_by { |repo| repo.distro.family }.each do |family, repos| %>
          <div class="row align-items-center">
            <div class="col-md-auto">
              <%= render partial: 'distro_icon', locals: { family: family, size: 64 } %>
            </div>

            <div class="col-md-11">
              <%= render partial: 'installs/repos', locals: { family: family, repos: repos } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <footer class="pt-5">
      <div class="p-3 bg-body-tertiary">
        <div class="container-fluid py-3 text-center">
          <h6 class="fw-light">Powered by</h6>
          <%= link_to root_path do %>
            <img src="<%= asset_path("brand/logo_with_slogan.svg") %>" alt="logo" height="100px">
          <% end %>
        </div>
      </div>
    </footer>

  </body>
</html>
