<!DOCTYPE html>
<html data-bs-theme="auto">
  <head>
    <title>Omni Package - Install <%= @project.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render partial: 'layouts/bootstrap' %>
    <%= render partial: 'installs/inline_js' %>
  </head>

  <body>
    <div class="container p-3">
      <h1>Install <%= @project.name %></h1>

      <div class="vstack gap-5 pt-3">
        <% @project.repositories.group_by { |repo| repo.distro.family }.each do |family, repos| %>
          <%= render partial: 'installs/distro_family', locals: { family: family, repos: repos } %>
        <% end %>
      </div>

    </div>
  </body>

  <footer class="pt-5">
    <div class="p-5 bg-body-tertiary">
      <div class="container-fluid py-5 text-center">
        Powered by <%= link_to 'OmniPackage', root_path %>
      </div>
    </div>
  </footer>
</html>
