<div class="p-3 bg-body-tertiary">
  <div class="container-fluid py-3">

    <div class="row">
      <div class="col text-center">
        <%= link_to root_path do %>
          <img src="<%= asset_path("brand/logo_with_slogan.svg") %>" alt="logo" height="86px">
        <% end %>
      </div>

      <div class="col text-center">
        <p><%= link_to 'About', ::APP_SETTINGS.dig(:links, :about) || '#', class: 'link-secondary', target: '_blank' %></p>
        <p><%= link_to 'Documentation', ::APP_SETTINGS.dig(:links, :docs) || '#', class: 'link-secondary', target: '_blank' %></p>
        <p><%= link_to 'Supported distros', pages_distros_path, class: 'link-secondary' %></p>
      </div>

      <div class="col text-center">
        <p><%= link_to 'Transparency', ::APP_SETTINGS.dig(:links, :transparency) || '#', class: 'link-secondary', target: '_blank' %></p>
        <p><%= link_to 'Privacy policy', ::APP_SETTINGS.dig(:links, :privacy), class: 'link-secondary', target: '_blank' %></p>
      </div>
    </div>
  </div>
</div>
