<div class="p-3 bg-body-tertiary">
  <div class="container-fluid py-3">

    <div class="row">
      <div class="col text-center">
        <%= link_to ::APP_SETTINGS.dig(:links, :home) || root_path, target: '_blank' do %>
          <div class="mb-3">
            <img src="<%= asset_path("brand/logo_with_slogan.svg") %>" alt="logo" height="86px">
          </div>
        <% end %>
      </div>

      <div class="col text-center">
        <p><%= link_to 'About', links_about_url, class: 'link-secondary', target: '_blank' %></p>
        <p><%= link_to 'Documentation', links_docs_url, class: 'link-secondary', target: '_blank' %></p>
        <p><%= link_to 'Supported distros', pages_distros_path, class: 'link-secondary' %></p>
      </div>

      <div class="col text-center">
        <p><%= link_to 'Home page', links_home_url(fallback: root_url), class: 'link-secondary', target: '_blank' %></p>
        <p><%= link_to 'Transparency', links_transparency_url, class: 'link-secondary', target: '_blank' %></p>
        <p><%= link_to 'Privacy policy', links_privacy_url, class: 'link-secondary', target: '_blank' %></p>
      </div>
    </div>
  </div>
</div>
