<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <img src="<%= asset_path("brand/logo_symbol.svg") %>" alt="logo" height="30px">
      <% unless logged_in? %>
        OmniPackage
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <%= render partial: 'navbar_link', locals: { path: projects_path, text: 'Projects', active: -> { params[:controller] == 'projects' } } %>
          <%= render partial: 'navbar_link', locals: { path: repositories_path, text: 'Repositories', active: -> { params[:controller] == 'repositories' } } %>

          <% if logged_in? %>
            <li class="nav-item dropdown ms-3 me-3">
              <%- tasks = current_user.tasks.where(state: %w[pending_fetch pending_build running failed]).load_async %>
              <a class="nav-link dropdown-toggle <%= params[:controller] == 'tasks' ? 'active' : '' %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <% if tasks.any?(&:running?) %>
                  <span class="spinner-border spinner-border-sm"></span>
                <% end %>
                Build tasks
              </a>
              <ul class="dropdown-menu dropdown-menu-end shadow">
                <% tasks.first(15).each do |task| %>
                  <li>
                    <%= link_to task_path(task), class: 'dropdown-item' do %>
                      <%= render partial: 'tasks/state_icon', locals: { task: task } %>
                      <%= task.state.humanize %>
                      <% if task.running? %>
                        <%= task.progress.to_s %>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <%= link_to 'Show all', tasks_path, class: 'dropdown-item' %>
                </li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>


      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <%= link_to 'Documentation', links_docs_url, class: 'nav-link', target: '_blank' %>
        </li>

        <li class="nav-item dropdown me-3">
          <%= render partial: 'theme_selector' %>
        </li>

        <% if logged_in? %>
          <li class="nav-item dropdown me-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag user_avatar_url(current_user), size: 24, class: 'img-fluid rounded' %> <%= current_user.displayed_name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow">
              <li>
                <%= link_to identity_account_path, class: 'dropdown-item' do %>
                  <i class="bi bi-person-circle me-2 opacity-50"></i>
                  Account
                <% end %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to current_session, method: :delete, class: 'dropdown-item' do %>
                  <i class="bi bi-box-arrow-right me-2 opacity-50"></i>
                  Log out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign in", sign_in_path, class: 'btn btn-outline-success' %>
          </li>
          <li class="nav-item ms-2">
            <%= link_to "Sign up", sign_up_path, class: 'btn btn-success' %>
          </li>
      <% end %>

      </ul>

    </div>
  </div>
</nav>
