<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= ::APP_SETTINGS.dig(:links, :home) || '/' %>">
      <img src="<%= asset_path("brand/logo_symbol.svg") %>" alt="logo" height="30px">
      <% unless logged_in? %>
        OmniPackage
      <% end %>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <%= render partial: 'navbar_link', locals: { path: root_path, text: 'Dashboard', active: -> { params[:controller] == 'dashboard' } } %>
          <%= render partial: 'navbar_link', locals: { path: projects_path, text: 'Projects', active: -> { params[:controller] == 'projects' } } %>
          <%= render partial: 'navbar_link', locals: { path: repositories_path, text: 'Repositories', active: -> { params[:controller] == 'repositories' } } %>
          <%= render partial: 'navbar_link', locals: { path: tasks_path, text: 'Tasks', active: -> { params[:controller] == 'tasks' } } %>
        <% end %>

        <li class="nav-item">
          <%= link_to 'Documentation', ::APP_SETTINGS.dig(:links, :docs) || '#', class: 'nav-link', target: '_blank' %>
        </li>
      </ul>


      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown me-3">
          <%= render partial: 'theme_selector' %>
        </li>

        <% if logged_in? %>
          <li class="nav-item dropdown me-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag current_user.gravatar_url, size: 24, class: 'img-fluid rounded' %> <%= current_user.displayed_name %>
            </a>
            <ul class="dropdown-menu shadow">
              <li>
                <%= link_to identity_account_path, class: 'dropdown-item' do %>
                  <i class="bi bi-person-circle me-2 opacity-50"></i>
                  Account
                <% end %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to current_session, method: :delete, class: 'dropdown-item' do %>
                  <i class="bi bi-box-arrow-right me-2 opacity-50"></i>
                  Log out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign in", sign_in_path, class: 'btn btn-outline-success' %>
          </li>
          <li class="nav-item ms-2">
            <%= link_to "Sign up", sign_up_path, class: 'btn btn-success' %>
          </li>
      <% end %>

      </ul>

    </div>
  </div>
</nav>
