<%# locals: (pagination:) -%>

<% if pagination.pages > 1 %>
  <nav aria-label="pagination">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link <%= pagination.first? ? 'disabled' : '' %>" href="<%= pagination.prev_page_link %>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <% if pagination.pages > 30 %>
        <% 1.upto(10) do |i| %>
          <li class="page-item <%= pagination.page == i ? 'active' : '' %>">
            <a class="page-link" href="<%= pagination.page_link(i) %>"><%= i %></a>
          </li>
        <% end %>

        <% if (10..(pagination.pages - 10)).cover?(pagination.page) %>
          <li class="page-item"><a class="page-link">...</a></li>

          <li class="page-item active">
            <a class="page-link" href="<%= pagination.page_link(pagination.page) %>"><%= pagination.page %></a>
          </li>

          <li class="page-item"><a class="page-link">...</a></li>
        <% else %>
          <li class="page-item"><a class="page-link">...</a></li>
        <% end %>

        <% (pagination.pages - 10).upto(pagination.pages) do |i| %>
          <li class="page-item <%= pagination.page == i ? 'active' : '' %>">
            <a class="page-link" href="<%= pagination.page_link(i) %>"><%= i %></a>
          </li>
        <% end %>
      <% else %>
        <% 1.upto(pagination.pages) do |i| %>
          <li class="page-item <%= pagination.page == i ? 'active' : '' %>">
            <a class="page-link" href="<%= pagination.page_link(i) %>"><%= i %></a>
          </li>
        <% end %>
      <% end %>

      <li class="page-item">
        <a class="page-link <%= pagination.last? ? 'disabled' : '' %>" href="<%= pagination.next_page_link %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
<% end %>
