<div class="p-3 bg-body-tertiary">
  <div class="container-fluid py-3">

    <div class="row">
      <div class="col text-end">
        <p><%= link_to 'About', pages_about_path, class: 'link-secondary' %></p>
        <p><%= link_to 'Supported distros', pages_distros_path, class: 'link-secondary' %></p>
        <p><%= link_to 'Documentation', '#', class: 'link-secondary', target: '_blank' %></p>
      </div>

      <div class="col text-center">
        <%= link_to root_path do %>
          <img src="<%= asset_path("brand/logo_with_slogan.svg") %>" alt="logo" height="65px">
        <% end %>
      </div>

      <div class="col text-start">
        <p><%= link_to 'Transparency', pages_transparency_path, class: 'link-secondary' %></p>
        <p><%= link_to 'Privacy policy', pages_privacy_path, class: 'link-secondary' %></p>
      </div>
    </div>
  </div>
</div>
