<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">OmniPackage</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <%= render partial: 'layouts/navbar_link', locals: { path: projects_path, text: 'Projects', active: -> { params[:controller] == 'projects' } } %>
          <%= render partial: 'layouts/navbar_link', locals: { path: tasks_path, text: 'CI', active: -> { params[:controller] == 'tasks' } } %>
        <% end %>

        <%= render partial: 'layouts/navbar_link', locals: { path: distros_path, text: 'Supported distros', active: -> { params[:controller] == 'distros' } } %>
      </ul>


      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" data-controller="theme-selector">
          <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-brightness-high opacity-50" data-theme-selector-target="currentThemeLight"></i>
            <i class="bi bi-moon-stars opacity-50" data-theme-selector-target="currentThemeDark"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <button data-action="theme-selector#light" class="dropdown-item"><i class="bi bi-brightness-high me-2 opacity-50 theme-icon"></i> Light</button>
            </li>
            <li>
              <button data-action="theme-selector#dark" class="dropdown-item"><i class="bi bi-moon-stars me-2 opacity-50 theme-icon"></i> Dark</button>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <button data-action="theme-selector#auto" class="dropdown-item">
                <i class="bi bi-brightness-high me-2 opacity-50" data-theme-selector-target="currentThemeLight"></i>
                <i class="bi bi-moon-stars me-2 opacity-50" data-theme-selector-target="currentThemeDark"></i>
                Auto
              </button>
            </li>
          </ul>
        </li>

        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Account", identity_account_path, class: 'dropdown-item' %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Log out", current_session, method: :delete, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", sign_up_path, class: 'btn btn-outline-success' %>
          </li>
      <% end %>

      </ul>

    </div>
  </div>
</nav>
