<!DOCTYPE html>
<html>
  <head>
    <title>Omni Package</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render partial: 'layouts/bootstrap' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <div class="container p-2">
      <%= render partial: 'layouts/flash' %>
    </div>

    <div class="container pt-3">
      <% if content_for?(:nested_layout) %>
        <%= yield(:nested_layout) %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    <footer class="pt-5">
      <%= render partial: 'layouts/footer' %>
    </footer>
  </body>
</html>
