<!DOCTYPE html>
<html>
  <head>
    <title>OmniPackage<%= breadcrumb.count > 1 ? " - #{breadcrumb.active.name}" : '' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/android-chrome-512x512.png" type="image/png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="512x512">

    <%= render partial: 'js_variables' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render partial: 'bootstrap' %>
  </head>

  <body>
    <%= render partial: 'navbar' %>

    <div class="container p-2">
      <%= render partial: 'flash' %>
    </div>

    <div class="container pt-3">
      <%= yield %>
    </div>

    <% if breadcrumb.count > 1 %>
      <div class="container pt-5">
        <%= render partial: 'breadcrumbs' %>
      </div>
    <% end %>

    <footer class="pt-5">
      <%= render partial: 'footer' %>
    </footer>
  </body>
</html>
