<!DOCTYPE html>
<html data-bs-theme="auto" data-controller="theme-selector">
  <head>
    <title>Omni Package - Install <%= @project.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render partial: 'layouts/bootstrap' %>
  </head>

  <body>

    <%= yield %>

    <footer class="pt-5">
      <div class="p-3 bg-body-tertiary">
        <div class="container-fluid py-3 text-center">
          Powered by <%= link_to 'OmniPackage', root_path %>
        </div>
      </div>
    </footer>
  </body>
</html>
